body {font-family: 'Roboto', sans-serif !important;}

.card-left{
border-left: 0.25rem solid rgb(231, 143, 27) !important;
}

ul {
    height: 100%;
}

.sidebarsize{
    
    height: 100%;
    /* overflow: auto; */
    position: fixed;
}

.navposition {
    float:right;
}

.card {
    padding: 30px;
    margin: 30px;
    
}

.sidenavtext {
    font-size: 1.5rem;
}

.btnstyle {
    padding: 17px 35px !important;
    font-size: 16px !important;
    border-radius: 40px !important;
}

.searchstyle {
    width: 50%;
    padding-left: 33px;
}

.searchinput {
    border-radius: 40px !important;
    padding: 10px !important;
}

.btn-search-submit {
    color: white !important;
    background-color: #2071a0 !important;
}